<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="identity">
  <a class="navbar-brand" href="#">GIT BAND</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/artists', 1]" [routerLinkActive]="['actived']">Artistas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Albums</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <img src="{{url + 'get-image-user/' + identity.image}}" class="img-responsive" id="image-logged" /> -->
          <a class="dropdown-item" [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">Mis Datos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" [routerLink]="['/']">Salir de la aplicacion</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
    </form>
  </div>
</nav>
  <!--<div class="row main"> -->

  <!--<div *ngIf="identity" class="navigation col-lg-1">
    <h1 class="head-title">
      <i class="fas fa-music"></i>
      <a [routerLink]="['/']">
        {{ title }}
      </a>
    </h1>
    <nav id="navigation">
      <span>
        <i class="fas fa-search"></i>
        <a href="#" [routerLinkActive]="['actived']">Buscar</a>
      </span><br>
      <span>
        <i class="fas fa-star"></i>
        <a [routerLink]="['/artists', 1]" [routerLinkActive]="['actived']" >Artistas</a>
      </span><br>
      <span>
        <i class="fas fa-book"></i>
        <a href="#" [routerLinkActive]="['actived']">Albums</a>
      </span>
    </nav>

    <nav id="user_logged" class="navigation2">
      <div class="user-image">
        <img src="{{url + 'get-image-user/' + identity.image}}" class="img-responsive" id="image-logged" />
      </div>
     <span id="identity_name">
        {{identity.name}} {{identity.surname}}
      </span><br>
      <br>
       <i class="fas fa-cog"></i> 
      <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
       Mis datos
      </a>
    <i class="fas fa-sign-out-alt btn-logout"></i>
      <a (click)="logout()" [routerLink]="['/']" class="btn-logout">
        Salir
      </a>
    </nav>
  </div> -->
  <div [class.hidden]="!identity" *ngIf="identity" class="central col-lg-12">
    <router-outlet></router-outlet>
    <div class="clearfix"></div>
    <player class="player" *ngIf="identity"></player>
  </div>

  <div class="central col-lg-11" *ngIf="!identity" >
    <div class="col-lg-6">
        <h1>Identificate</h1>
          <div *ngIf="errorMessage">
            <strong>Error! </strong>{{errorMessage}}
          </div>
          <div *ngIf="message">
            <strong>{{message}}</strong>
          </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
        <br>
          <p>
              <label><b>Email: </b></label>
              <input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email" required />
              <br>
              <label><b>Password: </b></label>
              <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required />
              <br>
              <input type="submit" value="Login" class="btn btn-primary" />
          </p>
        </form>
      </div>
    </div>

    <div class="col-lg-11" *ngIf="!identity">
          <div class="col-lg-6">
      <h1>Registrate</h1>
      <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-7" >
          <label for="name"><b>Name: </b></label>
          <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required /><br>
          <label for="surname"><b>Surname: </b></label>
          <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required /><br>
          <label for="email"><b>Email: </b></label>
          <input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="user_register.email" required /><br>
          <label for="password"><b>Password: </b></label>
          <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" required /><br>
          <br>
          <input type="submit" value="Register" class="btn btn-primary" />
      </form>
    </div>
  </div>
<!--</div> -->



