html, body {
	margin: 0px;
	height: 100%;
	background: #eee;

}

.actived {
	border-bottom: 4px solid #84BD00;
	padding-bottom: 4px;
}

.head-title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.jumbotron{
	background-color:#eee;
	margin-left: 15%;
}

.navigation {
	text-align: center;
	color: white;
	background: #1C1C1F;
	height: 100%;
	padding-left: 1.5%;
}

.navigation nav {
	width: 100%;
}

.navigation2 {
	text-align: center;
	color: white;
	background: #1C1C1F;
	padding-left: 1.5%;
}

.navigation a {
	color: #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	text-align: center;
	text-decoration: none;
}

.navigation a:hover{
	color: white;
}

.navigation svg {
	font-size: 25px;
	width: 100%;
	margin-top: 10px;
}

.top-align {
	margin-top: 1%;
}

.main {
	height: 100%;
	width: 100%;
}

#user_logged{
	background: #1C1C1F;
	bottom: 0px;
	border-top: 1px solid #444;
	text-decoration: none;
	text-align: center;
}

#identity_name{
	text-align: center;

}

#user_logged .user-image {
	background: #eee;
	border-radius: 100px;
	height: 57px;
	width: 57px;
	margin: 10px auto;
	overflow: hidden;
	margin-top: 150px;
}

#user_logged .user-image img{
	width: 57px;
}


.btn-logout {
	cursor: pointer;
}

.artist_image_for_edit img {
	width: 150px;
}

.artist-item {
	width: 23%;
	padding: 0px;
	margin: 0px;
	height: 317px;
	border: 1px solid #444;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
	display: inline-block;
}

.artist-list {
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	list-style: none;
}

.artist-item .artist-image {
	height: 245px;
	width: 100%;
	overflow: hidden;
	background: #222326;
	text-align: center;
}

.artist-item .artist-image img {
	height:100%;
}

.artist-item .artist-name{
	color:white;
	background: #222326;
	padding: 10px;
}

.artist-item .artist-name a{
	color: white;
}

.artist-list .artist-item .buttons{
	background: #222326;
	padding: 10px;
}